<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243737169245-ukmr2se9m2rc7j12v7k16vgk4gckhdvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243737169245-ukmr2se9m2rc7j12v7k16vgk4gckhdvr</string>
	<key>API_KEY</key>
	<string>AIzaSyD4e_WRLW1jD7Q8WeHQai11fRwNjdQ5qHE</string>
	<key>GCM_SENDER_ID</key>
	<string>243737169245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tryangle.mWalk</string>
	<key>PROJECT_ID</key>
	<string>tryangle-27376</string>
	<key>STORAGE_BUCKET</key>
	<string>tryangle-27376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243737169245:ios:29c2c0a4c2db333f</string>
	<key>DATABASE_URL</key>
	<string>https://tryangle-27376.firebaseio.com</string>
</dict>
</plist>